
<h2>{{myVar}} details!</h2>
<div id="wrapper" >
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div id="wrapper2">
    
  <mat-table  [dataSource]="dataSource">

    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let user" > {{user.ID}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Locality">
      <mat-header-cell *matHeaderCellDef> Locality </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.Locality}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="PhoneNumber">
      <mat-header-cell *matHeaderCellDef> PhoneNumber </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.PhoneNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="MAC">
      <mat-header-cell *matHeaderCellDef> MAC </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.MAC}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let even=even;" [ngClass]="{gray: even}"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <!-- zde jsem skončil, paginator nefunguje -->
</div>
</div>
